%html
  %head
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0, user-scalable=no'}
    %script{:src => 'underscore-min.js'}
    %script{:src => 'one-color.js'}
    %script{:src => 'mesh.js'}
    :css
      *{margin:0;background:#000}
  %body{:onload => '_init()'}
    %canvas#mesh_canvas