%html
  %head
    %meta{:name => 'viewport', :content => 'width=device-width, user-scalable=no'}
    %script{:src => 'lib/socket.io.min.js'}
    %script{:src => 'lib/underscore-min.js'}
    %script{:src => 'lib/one-color.js'}
    %script{:src => 'view.js'}
    :css
      *{margin:0;background:#000}
  %body{:onload => '_init()'}
    %canvas#mesh_canvas